@import "../../../styles/mixins.scss";

.root {
  @include flex;
  width: clamp(300px, 80vw, $sm-screen);
  margin: auto;
  align-items: flex-start;
  flex-direction: column;
  padding: 64px 0;
  h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: $gray-900;
  }
  .content {
    @include flex;
    margin: 32px 0;
    .content__nft {
      *:hover {
        transform: none;
      }
    }
  }
}
