@import '../../styles/mixins.scss';

.root {
  @include flex;
  width: clamp(300px, 80vw, $sm-screen);
  margin: auto;
  align-items: flex-start;
  flex-direction: column;
  padding: 64px 0;
  h1 {
    font-weight: 500;
    color: $gray-900;
    margin-bottom: 64px;
  }
}
