@import "../../styles/mixins.scss";

.root {
  @include flex;
  width: 100vw;
  height: 80px;
  background: $gradient-color;
  .container {
    @include flex;
    width: clamp(300px, 80vw, $sm-screen);
    justify-content: space-between;
    margin: auto;
    user-select: none;
    .logo {
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
      color: $gray-100;
      cursor: pointer;
      user-select: none;
      @media screen and (max-width: $sm-screen) {
        font-size: 24px;
      }
      span {
        color: $secondary-color;
      }
    }
    ul {
      @include flex;
      @include reset-list;
      gap: min(2vw, 48px);
      @media screen and (max-width: $mobile) {
        display: none;
      }
      li {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: $gray-100;
        cursor: pointer;
        padding: 10px 0;
        &[data-type="create"] {
          color: $secondary-color;
          font-weight: 600;
        }
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 3px;
          top: 100%;
          left: -3px;
          background: $secondary-color;
          transition: transform 0.5s;
          transform: scaleX(0);
          transform-origin: right;
        }
        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }
        @media screen and (max-width: $sm-screen) {
          font-size: 12px;
        }
      }
    }
    .search {
      width: clamp(100px, 20vw, 400px);
      @media screen and (max-width: $mobile) {
        display: none;
      }
    }
    .burger {
      display: none;
      @media screen and (max-width: $mobile) {
        display: inline-block;
      }
    }
  }
}
