@import '../../styles/mixins.scss';

.root {
  @include flex;
  width: 100vw;
  height: 80px;
  background: linear-gradient(90deg, #102dab 0%, #4262ea 100%);
  .container {
    @include flex;
    width: clamp(300px, 80vw, $sm-screen);
    justify-content: space-between;
    margin: auto;
    user-select: none;
    .logo {
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
      font-feature-settings: 'tnum' on, 'lnum' on, 'ss07' on, 'ss06' on,
        'ss05' on, 'ss04' on, 'ss03' on, 'ss02' on, 'ss01' on, 'dnom' on,
        'numr' on;
      color: #f9f8fe;
      @media screen and (max-width: $sm-screen) {
        font-size: 24px;
      }
      span {
        color: #faba81;
      }
    }
    ul {
      @include flex;
      @include reset-list;
      gap: min(2vw, 48px);
      @media screen and (max-width: $mobile) {
        display: none;
      }
      li {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #f9f8fe;
        cursor: pointer;
        padding: 10px 0;
        &[data-type='create'] {
          color: #faba81;
          font-weight: 600;
        }
        &::after {
          position: absolute;
          content: '';
          width: 100%;
          height: 3px;
          top: 100%;
          left: -3px;
          background: #faba81;
          transition: transform 0.5s;
          transform: scaleX(0);
          transform-origin: right;
        }
        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }
        @media screen and (max-width: $sm-screen) {
          font-size: 12px;
        }
      }
    }
    .search {
      width: clamp(100px, 20vw, 400px);
      @media screen and (max-width: $mobile) {
        display: none;
      }
    }
    .burger {
      display: none;
      @media screen and (max-width: $mobile) {
        display: inline-block;
      }
    }
  }
}
